# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
externals
extensions

# Xcode User Data
project.xcworkspace
xcuserdata

build
*.framework

*.sdf
*.suo
sysbuild

.DS_Store


source/mxj/enc_temp_folder
source/mxj/.vs
source/mxj/mxj.vcxproj.user
source/mxj/mxj~.vcxproj.user
